.navbar {
    background-color: #1f2c53;
    padding: 10px;
    border-bottom: 2px solid #fff;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center items horizontally */
}

.nav-item {
    margin-right: 15px;
    font-family: Arial, sans-serif;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .nav-link:hover {
        background-color: #555;
    }
