.add-vacancy-form {
    background-color: #f0f8ff; /* Light blue */
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .add-vacancy-form h2 {
        color: #008080; /* Teal */
        margin-bottom: 20px;
    }

    .add-vacancy-form form label {
        display: block;
        margin-bottom: 15px;
    }

    .add-vacancy-form form input,
    .add-vacancy-form form textarea {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

        .add-vacancy-form form input:focus,
        .add-vacancy-form form textarea:focus {
            outline: none;
            border-color: #008080; /* Teal */
        }

    .add-vacancy-form form button {
        background-color: #008080; /* Teal */
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

        .add-vacancy-form form button:hover {
            background-color: #005f5f; /* Darker teal on hover */
        }
