.vacancy {
    background-color: #f0f8ff; /* Light blue */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .vacancy h2 {
        color: #1f2c53; /* Teal */
    }

    .vacancy p {
        color: #333;
    }

    .vacancy h3 {
        color: #1f2c53; /* Teal */
        margin-top: 20px;
    }

    .vacancy ul {
        list-style-type: none;
        padding-left: 0;
    }

    .vacancy li {
        color: #555;
    }

.view-matches-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #1f2c53; /* Button background color */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

    .view-matches-button:hover {
        background-color: #005f5f; /* Button background color on hover */
    }

