.navbar {
    background-color: #1da1f2;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end; /* Right align items */
}

    .navbar ul {
        list-style-type: none;
        color:white;
        margin: 30px 100px 0px 0px;
        padding: 0;
        display: flex; /* Use flexbox for better alignment control */
    }

    .login{
        background-color:#dc4040;
        color:white;
        padding:5px 15px 5px 15px;
        border-radius:20px;
    }

    .navbar li {
        margin-left: 20px;
        color:white;
        padding-left:25px;/* Add spacing between links */
    }

    .navbar a {
        text-decoration: none;
        color: white; /* Link color */
        font-weight: bold;
    }

       