.navi {
    background-color: #f9f9f9;
    padding: 5px 20px;
    display: flex;
    justify-content: flex-end; /* Right align items */
}

.logo {
    width: 220px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: 730px; /* Example margin for spacing */
}

.navi ul {
    list-style-type: none;
    color: white;
    margin: 30px 100px 0px 0px;
    padding: 0;
    display: flex; /* Use flexbox for better alignment control */
}

.login {
    background-color: #49ab66;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}

.navi li {
    margin-left: 20px;
    color: white;
    padding-left: 25px; /* Add spacing between links */
}

.navi a {
    text-decoration: none;
    color: #1f2c53; /* Link color */
    font-weight: bold;
}
